<div class="container">
    <h1>关于项目</h1>
    <ul class="list-group about">
        <li class="list-group-item active">项目特点</li>
        <li class="list-group-item">安全的导航守卫系统</li>
        <li class="list-group-item">独立的账户系统</li>
        <li class="list-group-item">数据库密码非明文保存</li>

    </ul>
    <ul class="list-group about">
        <li class="list-group-item active">项目技术栈</li>
        <li class="list-group-item">Node.js / express / handlebars / mongoDB / passport / bcrypt / connect-flash / ES6 / BootStrap</li>
    </ul>
    <ul class="list-group about">
        <li class="list-group-item active">联系方式</li>
        <li class="list-group-item">我的github：https://github.com/yinlinzeng</li>
    </ul>

    <p class="text-center" style="margin-top:20px">Version: 1.0.0</p>
</div>